:root {
    --side-bar-width: 108px;
    --full-screen-width: 100%;
    --back-margin: 3vw;
    --open-space: calc(var(--full-screen-width) - var(--side-bar-width) - (2 * var(--back-margin)));
}


.prefix {
    justify-content: center;
    text-align: center;
    
}

.popup-content {
    background-color: #2C2F33;
    width: 20%;
    height: 20%;
}

.enter-prefix {
    align-content: center;
    justify-content: center;
    margin-top: 1vh;
    width: 17.2vw;
    background-color: #23272A;
    border: #23272A;
    border-radius: 20px;
    color: white;
    font-weight: bold;
}

.update-prefix {
    justify-content: center;
    text-align: center;
    margin-top: 10px;
    margin-left: 42.4vw;
    width: 15vw;
    font-weight: bold;
}

.prefix-submit {
    margin-top: 1vh;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    font-weight: bold;
}

.enter-prefix:active {
    background-color: #494e52;
    color: white;
}

.enter-prefix:enabled {
    background-color: #494e52;
    color: white;
}

.prefix-text {
    font-weight: bold;
}

.backplate {
    float: left;
    margin-top: 1vh;
    margin-left: var(--back-margin);
    border-radius: 20px;
    height: 90vh;
    width: var(--open-space);
    background-color: #41464b;
}

.guild-name {
    height: 5vh;
    text-align: center;
}
