:root {
    --side-bar-width: 108px;
    --full-screen-width: 100%;
    --back-margin: 3vw;
    --open-space: calc(var(--full-screen-width) - var(--side-bar-width) - (2 * var(--back-margin)));
}

.backplate {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    float: left;
    margin-top: 1vh;
    margin-left: var(--back-margin);
    border-radius: 20px;
    height: 90vh;
    width: var(--open-space);
    background-color: #3b3f44;
}

.guild-name {
    height: 5vh;
    text-align: center;
}

.category {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;

    margin-top: 5vh;
    background-color: #2f3136;
    border-radius: 15px;
    width: 30vw;
    height: 15vh;
}

.category-text {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 28vw;

    vertical-align: middle;
}

.category-button {
    border-radius: 20px;
}

.description-text {
    opacity: 0.6;
}
