/* :root {
    --side-bar-width: 108px;
    --full-screen-width: 100%;
    --back-margin: 3vw;
    --open-space: calc(var(--full-screen-width) - var(--side-bar-width) - (2 * var(--back-margin)));
}

.roles-backplate {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    float: left;
    margin-top: 1vh;
    margin-left: var(--back-margin);
    border-radius: 20px;
    height: 90vh;
    width: var(--open-space);
    background-color: #101214;
}

.button-container {
    width: 10vw;
    height: 10vh;
    background-color: black;
} */