@font-face {
    font-family: Whitney;
    /* font-weight: 600; */
    src: url("http://localhost:3000/thirdwhitney.woff") format("woff");
}

/* @font-face {
    font-family: Whitney;
    font-weight: 900;

} */

html body {
    font-family: Whitney;
    font-weight: 700;
    background: #2C2F33;
    color: white;
}


@media (max-width: 900px) {
    html {
        font-size: 14px;
    }
}

@media (max-width: 700px) {
    html {
        font-size: 12px;
    }
}

@media (max-width: 200px) {
    html {
        font-size: 6px;
    }
}
 

::-webkit-scrollbar {
    width: 13px;
}

::-webkit-scrollbar-track {
    background: #3c3f42;
    border-radius: 9px;
}

::-webkit-scrollbar-thumb {
    border-radius: 9px;
    background: #515457;
    transition: 1s ease-out;
}

::-webkit-scrollbar-thumb:hover {
    background: #626669;
} 