.guildImages {
    display: flex;
    float: left;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    padding: 1rem;
    background-color: #202225;

    width: fit-content;
    height: 100vh;
}

.guildImage {
    order: inherit;
    flex-direction: column;
    border-radius: 50%;
    cursor: pointer;
    margin: 5px;
    transition: ease-out 0.2s;
    user-select: none;
}

.guildImage:hover {
    border-radius: 30% !important;
}

.guildImage:active {
    margin-top: 7px;
    margin-bottom: 3px;
}

.hover-text {
    visibility: hidden;
}

.guildDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    text-align: center;
    width: 68px;
    height: 68px;
    margin: 5px;
    margin-left: 3px;
    background-color: #2C2F33;
    border-radius: 50%;
    font-size: 2rem; 
    transition: ease-out 0.2s;
    user-select: none;
}

.guildDiv:hover {
    border-radius: 30% !important;
    cursor: pointer;
    background-color: #7289da;
}

.guildDiv:active {
    margin-top: 7px;
    margin-bottom: 3px;
}

.guildDiv .hover-text {
    visibility: hidden;
    width: max-content;
    height: max-content;
    /* border-radius: 10px; */
    background-color: #232629;
    padding: 5px 0;
    text-align: center;
      
    position: absolute;
    z-index: 3;
    transform: translateX(100%);
}

.guildDiv:hover .hover-text {
    visibility: visible;
}

.profile {
    padding: 5px;
    margin-bottom: 15px;
    transition: ease-out 0.2s;
}

.profile:hover {
    border-radius: 30% !important;
}

.add-to-server {
    margin-top: 15px;
    border-radius: 50%;
    background-color: #2C2F33;
    fill: #43b581;
    width: 70px;
    height: 70px;
    margin-left: 2px;
    transition: ease-out 0.2s;
}

.add-to-server:hover {
    border-radius: 30%;
    cursor: pointer;
    background-color: #43b581;
    fill: white;
}

@keyframes anvil {
    0% {
        transform: scale(1) translateY(0px);
        opacity: 0;
        box-shadow: 0 0 0 rgba(241, 241, 241, 0);
    }
    1% {
        transform: scale(0.96) translateY(10px);
        opacity: 0;
        box-shadow: 0 0 0 rgba(241, 241, 241, 0);
    }
    100% {
        transform: scale(1) translateY(0px);
        opacity: 1;
        box-shadow: 0 0 500px rgba(241, 241, 241, 0);
    }
}

.popup-content {
    background-color: #2C2F33;
    border-radius: 10px;
    stroke: #2C2F33;
    border: 5px #2C2F33;
    width: 50vw;
    height: 45vh;
    animation: anvil 0.2s cubic-bezier(0.28, 0.2, 0.26, 0.9) forwards;
    -webkit-animation: anvil 0.2s cubic-bezier(0.28, 0.2, 0.26, 0.9) forwards;
}

.dropdown-menu {
    background-color: #2C2F33;
}

.dropdown-item {
    color: white;
    font-weight: bold;
}

.dropdown-item:hover {
    background-color: #43b581;
}

.server-popup {
    position: absolute;
    height: 100%;
    width: 100%;
    display: table;
}

.server-select {
    display: table-row;
    text-align: center;
}

.invite-text {
    text-align: center;
}

.wrapper {
    float: left;
}

.item {
    visibility: visible;
    position: absolute;
    display: block;
    width: 0px;
    height: 0px;

    border-radius: 0 5px 5px 0;

    margin-left: -16px;
    margin-top: 35px;
    background-color: white;
    opacity: 1;
    transform: none;
    transition: 0.25s ease-in-out;
}

.profile-div:hover .item {
    visibility: visible;
    width: 6px;
    height: 25px;
    margin-top: 24px;
}